body {
    color: #434455;
    background-color: #ffffff;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    font-style: normal;
}

/* 1-timer */

.form-search {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: auto;
    width: 360px;
    height: 45px;
    margin-bottom: 32px;
}

.input-search {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    background: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-left: 16px;
    outline: transparent;
}

.input-search:hover {
    border: 1px solid #000;
}

.input-search:active {
    border: 1px solid #4e75ff;
}

.btn-start {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
}

.btn-start:hover {
    background: #6c8cff;
}

.btn-start-disable {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #cfcfcf;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #989898;
    border: none;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 346px;
    height: 72px;
    gap: 24px;
    margin: auto;
}

.field {
    width: auto;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.value {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    text-transform: uppercase;
}

/* 2-snackbar */

.form {
    margin: 10px;
    width: 360px;
    height: auto;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.form-delay {

    height: 72px;
display: flex;
flex-direction: column;
    justify-content: center;
        gap: 8px;
font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.input-delay {
border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;

        outline: transparent;
        padding-left: 16px;
}

.input-delay:hover {
border: 1px solid #000;
}

.input-delay:focus {
border: 1px solid #4e75ff;
}

fieldset {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
    width: 360px;
        height: 64px;
border: 1px solid #808080;
    border-radius: 4px;
        margin-top: 16px;

        font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #2e2f42;
         }

fieldset:hover {
border: 1px solid #000;
}

.input-color {
    border: 1px solid #4e75ff;
        border-radius: 14px;
        width: 20px;
        height: 20px;
        
}

/* .input-color:focus {
background: #4e75ff;
} */

/* label-status */



button {
    margin-top: 24px;
    border-radius: 8px;
    border: none;
        padding: 8px 16px;
        width: auto;
        height: 40px;
        background: #4e75ff;
        font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
}

button:hover {
    background: #6c8cff;
}

